// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-title {
  text-align: center;
}

.article-title {
  background-color: #50d07d;
  margin-left: 40%;
  margin-right: 40%;
}

.article-text {
  background-color: #b2cecf;
  margin-left: 20%;
  margin-right: 20%;
}

.center {
  text-align: center;
}

#myself {
  margin-top: 0;
}